<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examples Web Home</title>
</head>
<body>

    <h2>Examples Web Home</h2>

    <h3><a href="/process-data?message1=test1&message2=test2">GET 방식 요청</a></h3>
    <h3>POST 방식 요청</h3>
    <form action="/process-data" method="post">
        <input type="text" name="message1"><br>
        <input type="text" name="message2"><br>
        <input type="submit">
    </form>
    <h3><a href="/path-variable/this_is_data">데이터를 요청 경로의 일부로 포함(Path Variable)</a></h3>
    <h3><a href="/redirect">리다이렉트</a></h3>
    <h3><a href="/template-syntax">템플릿문법</a></h3>
    <h3><a href="/static-files">정적파일(css, js, image, ...) 사용</a></h3>
    <h3><a href="/chatbot">챗봇</a></h3>
    
</body>
</html>